.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;

        input {
            width: 200px;
            height: 20px;
        }

        button {
            width: 200px;
            height: 30px;
            background-color: lightblue;
            border: none;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
        }
    }
}