.sidebar {
    flex: 1;

    border-right: 1px solid lightgray;
    min-height: 100vh;
    background-color: #fff;

    .linkComponent {
        text-decoration: none;
    }

    .top {
        text-decoration: none;

        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            font-size: 20px;
            font-weight: bold;
            color: #0d76c2;
        }
    }

    .hr {
        height: 0;
        border: 0.5px solid lightgray;
    }

    .center {
        padding-left: 10px;


        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #c7ddf9;
                }

                .icon {
                    font-size: 18px;
                    color: #162b57;
                }

                span {
                    font-size: 13px;
                    font-weight: bold;
                    color: gray;
                    margin-left: 10px;
                }
            }

            .title {
                font-size: 10px;
                font-weight: bold;
                margin-top: 15px;
                margin-bottom: 15px;
                color: #23457a;
            }
        }
    }


    .bottom {
        display: flex;
        align-items: center;
        margin: 10px;

        .colorOption {
            width: 20px;
            height: 20px;
            border-bottom: 5px;
            border: 1px solid #162b57;
            cursor: pointer;
            margin: 5px;

            &:nth-child(1) {
                background-color: white;

            }

            &:nth-child(2) {
                background-color: black;
            }


        }
    }

}